# Git
.git
.gitignore

# Environment
.env
.env.local

# Docker
docker-compose*.yml
.dockerignore

# Node / deps
node_modules/
vendor/

# Editor/OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log

# Misc
*.zip
*.tar